// @import 'fonts.scss';
// @include Rubik-Bold();
// @include Rubik-Regular();

body {
  // font: 14px "Rubik-Regular", Helvetica, Arial, sans-serif;
  // font-family: 'Exo', sans-serif;
  font-size: calc(0.75em + 1vmin);
  font-family: 'Exo 2', sans-serif;
  color: $text-color;
  background-color: $background-color;
  margin: 0;
  // hide blue highlight when all elements clicked in phones
  -webkit-tap-highlight-color: transparent; 
}

* {
  box-sizing: border-box;
}

.background-image {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: -5;
  // opacity: 0.1;
}

.page-container {
  min-height: 100vh; // full height of viewport
  // padding: 1rem 3rem; // delete later
  padding: 1rem 3rem 1rem 13rem;
  // flex things
  display: flex;
  flex-direction: column;
  // x-axis alignment
  justify-content: center;
  // y-axis alignment
  align-items: center;
  
  z-index: -1;
  transition: opacity .4s;
  // @include contentAnimation();
  // background-image: url('../assets/images/blockchain-background.jpg');
  
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  // margin: 0 auto;
  width: 100%;
  // margin-left: 13em;
  // max-width: 75vw;
  transition: filter 0.2s, opacity 0.2s;
}

// .app-content {
//   margin: 0 0 0 12.95rem;
// }

// // 21rem
// @media screen and (min-width: $media-width-S) {
//   .page-container {
//     padding: .5rem 2rem;
//   }
// }  

// // 36rem
// @media screen and (min-width: $media-width-M) {
//   .page-container {
//     // padding: 1rem 3rem;
//   }
// }  

// // 50rem
// @media only screen and (max-width: $media-width-L) {
//   html {
//     font-size: 1.1em;
//   }  
//   .page-container {
//     // padding: 1rem 3rem;
//   }  
// }  

// // 64rem
// @media only screen and (max-width: $media-width-XL) {
//   html {
//     font-size: 1.1em;
//   }
// }

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  //CSS
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  .page-container {
    padding: 1rem 3rem 1rem 2.4rem;
  }
  .main {
    margin-left: 11.3em;
  }
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  .page-container {
    padding: 1rem 3rem;
  }
  
  .main {
    margin-left: 0.9em;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .page-container {
    padding: 1rem 3rem 1rem 2.4rem;
  }
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .page-container {
    padding: .5rem 2rem;
  }
  .main {
    margin-top: 4em;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .page-container {
    padding: .5rem 2rem;
    // height: 80vh;
  }
  .main {
    justify-content: unset;
    // margin-top: 1em;
    // height: 100vh;
    // margin-top: 2.4em;
  }
}