$dark-gray-color: rgb(38, 38, 38);
$mid-gray-color: rgb(90, 90, 90);
$light-gray-color: rgb(240, 240, 240);
$white-color: rgb(255, 255, 255);
$light-red-color: lighten(#ff4532, 11%);

$first-color: $light-red-color;
$second-color: $mid-gray-color;
$background-color: $light-gray-color;
$navbar-color: #262626;
$navlinks-text-color: $white-color;
$text-color: #797979; 
$text-bg-color: $first-color;
