$page-max-width: 60rem;

$media-width-XL:  64rem;
$media-width-L:   50rem;
$media-width-M:   37rem;
$media-width-S:   21em;
$media-width-XS:  19rem;

$media-min-width-XXL: 1281px; // Desktops or higher

$media-min-width-XL: 1025px;
$media-max-width-XL: 1280px; // Laptops, Desktops

$media-min-width-M: 768px;
$media-max-width-M: 1024px; // Tablets, Ipads 

$media-min-width-S: 481px;
$media-max-width-S: 767px; // Low res Tablets, Mobiles (Landscape

$media-min-width-XS: 320px;
$media-max-width-XS: 480px; // Most of the Smartphones (Portrait)

