.Main { 
  margin: 0 0 0 12.95rem;
  p {
    line-height: 1.6;
  }
}

.section {
  margin: 0;
  padding: 70px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .section-title {
    font-size: 3rem;
    margin: 0 0 4rem 0;
    text-align: center;
    width: 100%;
  }
  .inner-container {
    flex-grow: 1;
    max-width: 40%;
    margin: 1rem;
    padding: 1rem;
    background-color: #ececec;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 0.2rem #888888;
    .subsection-title {
      text-align: center;
      background-color: #9c95ce;
      color: #ffffff;
      border-top-right-radius: 1rem;
      border-top-left-radius: 1rem;
      margin: -1rem -1rem 1rem -1rem;
      padding: 1rem;
      width: 100%;
      font-size: 2rem;
    }
  }
}

@media only screen and (max-width: 1700px) {
  .Main {
    margin: 0 0 0 10rem;
  }
  .section {
    padding: 70px 0;
  }
}

@media only screen and (max-width: 1280px) {
  .Main {
    margin: 0 0 0 2.5rem;
  }
  .section {
  }
}

@media only screen and (max-width: 770px) {
  .Main {
    margin: 0;
  }
  
  .section {
    padding: 3rem 0.5rem 2rem 0.5rem;
    justify-content: space-around;

    .section-title {
      margin-bottom: 0;
    }

    h2 {
      font-size: 2rem;
    }
  }
}
