@import 'animations.scss';
@import 'fonts.scss';
@include Rubik-Bold();
@include Rubik-Regular();

html {
  scroll-behavior: smooth
}

body {
  // font: 14px "Rubik-Regular", Helvetica, Arial, sans-serif;
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  margin: 0;
}

.app-body{
  // overflow-x: hidden;
}

.app-content{
  @include contentAnimation();
  margin: 0 0 0 12.95rem;
}

@media only screen and (max-width: 1700px) {
  .app-content {
    margin: 0 0 0 10rem;
  }
}

@media only screen and (max-width: 1280px) {
  .app-content {
    margin: 0 0 0 2.5rem;
  }
  .shift-content {
    background-color: red;
    opacity: 0.8;
  }
}

@media only screen
and (max-width: 770px) {
  .app-content {
    margin: 0;
  }
  .shift-content {
    background-color: black;
  }
}
